language: csharp

mono:
  - beta

branches:
  only:
    - master

sudo: false

install: 
  - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"
  - curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh
    | sh --channel "preview" --version "Latest" --install-dir "$DOTNET_INSTALL_DIR" --no-path
  - export PATH="$DOTNET_INSTALL_DIR:$PATH"

script:
  # workaround "too many open files"
  - ulimit -n 1024
  # dotnet info
  - dotnet --info
  # build and test
  - dotnet restore && dotnet build ./src/Aqua/ --framework 'netstandard1.6' && dnu build test/Aqua.Tests --framework 'netcoreapp1.0' && dotnet test ./test/Aqua.Tests/
