language: csharp
branches:
  only:
    #- master
    - dnx
solution: aqua-core.sln
#install:
#  - nuget restore aqua-core.sln
#  - nuget install xunit.runners -Version 1.9.2 -OutputDirectory testrunner
#script:
#  - xbuild /p:Configuration=Release aqua-core.sln
#  - mono ./testrunner/xunit.runners.1.9.2/tools/xunit.console.clr4.exe ./MyPoject.Tests/bin/Release/MyProject.Tests.dll