init:
  - git config --global core.autocrlf true
branches:
  only:
    - master
version: 1.0.{build}
before_build:
- cmd: dotnet restore
build_script:
- cmd: dotnet build .\src\Aqua\ .\test\Aqua.Tests\ .\test\Aqua.NET35.Tests\
test_script:
- cmd: dotnet test .\test\Aqua.Tests\
build:
  verbosity: normal